body {
    margin: 20px 40px;
  }
  p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 16px;
  }
  
  /*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
  .wrapper {
    display: flex;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
  }
    .redwrapper {
    display: flex;
    height: 60px;
    background-color: red;
    margin-bottom: 20px;
  }
  .bluewrapperreverse{
    display: flex;
    height: 60px;
    background-color: blue;
    margin-bottom: 20px;
  }


  /*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
  .redExample {
    width: 80px;
    background-color: red;
  }
  .redExample1 {
    flex: 1;
    background-color: red;
  }
  .greenrect{
      flex:1;
      background-color: green;
      height: 20px;
      width: 20px;
      align-self: center;
      justify-content: center;
  }
  .bluerect{
    justify-content: center;
    display: flex;
    
    width: 80px;
    background-color: blue;
    
  }
  /*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
  .blueExampleend {
    flex: 1;
    width: 50px;
    background-color: blue;
  }

  .greenexample{
      flex:1;
      background-color: green;
  }
  .redrect{
    background-color: red;
    width: 40px;
    height: 40px;
    justify-self: center;
    align-self: center;
  }
  /*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
  .emptyExample2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
  }
  .centering{
    display: flex;
    flex: 1;
    justify-content: center;
  }
  .starting{
    display: flex;
    flex: 1;
    justify-content: flex-start;
  }
  .reverses{
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
  }
  .ending{
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  .blueExample2 {
    width: 80px;
    background-color: blue;
  }
  .yellowreect{
    flex: 1;
    width: 40px;
    background-color: red;
    margin-right: 10;
  }
  /* TODO: Add CSS for the rest of your solution below */
  
